services:
  postgres:
      image: postgres:16-alpine
      ports:
        - 5433:5432
      volumes:
        - ./postgres:/var/lib/postgresql/data
      environment:
        - POSTGRES_PASSWORD=root
        - POSTGRES_USER=root
        - POSTGRES_DB=root